#profile-page-container {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 49%;
    padding: 10px;
    /* background-color: hotpink; */
    text-align: left;
}

#profile-header div {
    display: inline-flex;
}

.profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#profile-name {
    font-size: 28px;
    font-weight: 500;
    vertical-align: middle;
    display: grid !important;
}

#rating {
    font-weight: normal !important;
    font-size: 16px;
}

#profile-header {
    display: flex;
}

label {
    font-weight: bold;
}

.section {
    margin: 20px 0px 0px 20px;
}