.header-container {
    text-align: center;
}

.header-image {
    /* Make an svg later - will load faster!*/
    background-image: url('fine_dining2.jpg');
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    height: 350px;
}

#text-container {
    padding-top: 150px;
    color: #4c9f38
    ;
    text-shadow: 2px 2px 8px black;
}

#headerTitle {
    font-family: verdana-header, sans-serif;
    /* font-size: 30px; */
}
#subheader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}