#place-container {
    width : 450px;
    height: 100%;
    background-color:whitesmoke;
    /* position: fix; */
    z-index: 1;
    -webkit-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    
}
#map-container {
    width : 100%;
    float: right;
}

#search-container {
    display: flex;
    position: fixed;
    float: left;
    height: 100%;
    min-width: 100%;
    padding: 0px;
    margin-top: 60px;
}

/* TESTING AUTOCOMPLETE*/

#autocomplete {
    min-width: '95%' !important;
    width: 95%;
    height: '40px' !important;
    min-height: 40px;
    margin: 14px 5px 14px 12px;
    border: none;
    padding: 15px 15px;;
    background-color: whitesmoke !important;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

.pac-container {
    box-sizing: content-box;
    height: 120px important!;
  }

.event-list-item {
    color: #777a78;
    height: auto;
    padding: 20px;
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid darkgray;
}

.event-list-item.h5 {
    color: #434544;

}

.event-list-item {
    margin: 0; 
    height: 150px;
    padding: 20px;
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid #c7c7c7;
}

.event-list-description {
    overflow: hidden;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.event-list-item:hover {
    background-color: #EEE;
    cursor: pointer;
}

.event-list-container {
    position: relative; 
    bottom:0; 
    left:0; 
    width:400px; 
    height:100%;
    overflow:auto;
}


