.header {
    font-weight: bold;
    font-size: xx-large;
    color: rgb(99, 109, 109);
}

.thisContainer {
    width: 100%;
padding: 1em;



}

.notice {
    position: relative;
    /* font-size: smaller; */
    text-align: left;
    margin-top: 10em;
    margin-right: 30em;
    margin-left: 10em;

}

.box {
    width : 20em;
    background-color: white;
    position: absolute;
    top: 30%;
    margin-left: 5em;
    left: 60%;
    height: 20em;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    box-shadow:  5px 4px 5px 5px lightgrey;


}

.modprice {
    position: relative;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    color: rgb(99, 109, 109);
    margin-left: 2em;
    margin-top: 1em;
}

.modseparate {
    position:absolute;
    content: '';
    color:black;
    height: 1px;
    width:100%;
}


.input-group {
    padding-left: 2em;
    margin-right: 2em;
   
 } 

.next {
    position: relative;
    margin-top: 1em;
    text-align: right;
}
.labels {
    text-align: left;
    font-weight: bold;
    color: rgb(99, 109, 109);
    margin-top: 1em;
    margin-left: 10em;
  
    width: 35%;
    float: left;
    position: relative;
}

.details {
    position: relative;
    text-align: left;
    font-weight: bold;
    color: rgb(99, 109, 109);
    margin-right: 21em;
    margin-top: 2em;
    margin-left: 10em;
}

.host {
    position: relative;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: rgb(99, 109, 109);
    margin-right: 21em;
    margin-top: 2em;
    margin-left: 10em;
}

  .number-of-guests {
    margin-left: 1em;
    width: 3em;
    padding-left: 5px;
  }