#flexcontainer {
    margin-top: 5%;
}

.btn-lg, .btn-primary {
    background-color:#00674b
    ;
    border: none;
}

.btn-lg:hover, .btn-primary:hover {
    background-color:#4c9f38
    ;   
}
.btn-lg:active, .btn-primary:active {
    border: none;
    box-shadow:none;
    background-color:#4c9f38
    !important; /*needs !important here to prevent override by bootstrap defaults */
}
input, textarea {
    background-color: rgb(245, 255, 246) !important;
}