#flexcontainer {
    margin-top: 5%;
}

.btn-lg, .btn-primary {
    background-color: rgba(23, 167, 35, 0.822);
    border: none;
}

.btn-lg:hover, .btn-primary:hover {
    background-color: lightgreen;   
}
.btn-lg:active, .btn-primary:active {
    border: none;
    box-shadow:none;
    background-color: lightgreen !important; /*needs !important here to prevent override by bootstrap defaults */
}
input, textarea {
    background-color: rgb(245, 255, 246) !important;
}